<div class="page-header">
  <h1>All <small>Movies</small></h1>
</div>

<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">All</a></li>
  <li role="presentation"><a href="#">Rated</a></li>
  <li role="presentation"><a href="#">Recommended</a></li>
</ul>

{{movies[0]}}

<div class="row">
  <div class="col-sm-6 col-md-4" ng-repeat="movie in movies">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>{{ movie.title }}</h3>
        <p>Some text bla bla bla</p>
        <p>
          <span uib-rating ng-model="movie.current_user_score" max="5" read-only="isReadonly" ng-click="updateRating(movie)" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="['one','two','three', 'four', 'five']"a aria-labelledby="default-rating"></span>
          <span>(Avg: {{ movie.total_score }})</span>
          <span class="label" ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}" ng-show="overStar && !isReadonly">{{percent}}%</span>
        </p>
        <p>
          Other
        </p>
      </div>
    </div>
  </div>
</div>
