<iframe src="sink.html" name="sink" style="display:none"></iframe>

<form name="loginForm" action="sink.html" target="sink" method="post" ng-controller="LoginCtrl"
  ng-submit="login()" novalidate form-autofill-fix>

  <h3>Login</h3>
  <div>
    <label for="email">Email</label>
    <input name="email" class="form-control" type="email" id="email" placeholder="Email"
    ng-model="email">
  </div>
  <div>
    <label for="password">Password</label>
    <input name="password" class="form-control" type="password" id="password"
    placeholder="Password" ng-model="password">

  </div>
  <button type="submit" class="btn btn-primary">Log in</button>
</form>
